<p id="notice"><%= notice %></p>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<div class="clearfix"></div>
<div class="w3layouts-clients">
  <div class="container"></div>
</div>
  <div class="container">
    <h2 class="w3ls_head">Rad<span>iaciones</span></h2>
    <p>En este lugar puedes consultar como se ha comportado la radici贸n en fechas pasadas.
    (en esta fase beta podras encontrar informaci贸n desde: 2017-07-19 hasta: 2017-10-27) </p>
    <div class="clearfix"></div>
    

    <%= render 'busqueda' %>

    <table id="customers">
      <thead>
        <tr>
          <th>Estaci贸n</th>
          <th>Hora de captura</th>
          <th>Valor de la radiac贸n</th>
        </tr>
      </thead>

      <tbody>
        <% @radiations.each do |radiation| %>
          <tr>
            <td><%= radiation.station %></td>
            <td><%= radiation.rad_time.localtime %></td>
            <td><%= radiation.radiation_value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="clearfix"></div>
<br>
