<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

	<!-- banner -->
	<div class="agile-banner">
	</div>
	<!-- //banner -->
<!-- about -->
	<div class="services-w3ls">
		<div class="container">
			<h2 class="w3ls_head">Acerca de <span>Nosotros</span></h2>
			<div class="agile_banner_bottom_grids">
				<div class="col-md-6 w3layouts_about_grid_left">
					<h4>About Solar Energy</h4>
					<p>Cras molestie lacus et libero vehicula semper. Pellentesque ac leo quis enim
						ultrices mollis. Duis ornare in dolor non ultricies. Integer nec sem diam.
						In sed urna at mi fringilla malesuada.
						<i>"Aenean efficitur vitae ligula eget vulputate.
						Donec id ligula lorem. Nam ipsum odio, rutrum a nisl non, scelerisque iaculis ex.</i>
						Integer mattis efficitur scelerisque. Phasellus malesuada metus vitae orci condimentum,
						non blandit lacus consectetur. </p>
				</div>
				<div class="col-md-6 w3layouts_about_grid_right">
					<iframe src="https://player.vimeo.com/video/25401444"></iframe>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //about -->
<!--stats-->
<%=render "partials/cifras"%>
<!--//stats-->

<!-- team -->
	<div class="services team">
		<div class="container">
			<h3 class="w3ls_head">Meet <span>Our Team</span></h3>
			<div class="agile_banner_bottom_grids">
				<div class="col-md-3 agile_team_grid">
					<div class="agileits_w3layouts_team_grid">
            <%= image_tag("t1.jpg", :class => "img-responsive") %>
						<div class="agileits_w3layouts_team_grid_pos">
							<div class="w3ls-social">
								<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
								<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
								<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
					<h4>Williamson</h4>
					<p>Designer</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="agileits_w3layouts_team_grid">
						<%= image_tag("t2.jpg", :class => "img-responsive") %>
						<div class="agileits_w3layouts_team_grid_pos">
							<div class="w3ls-social">
								<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
								<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
								<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
					<h4>Laura </h4>
					<p>Manager</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="agileits_w3layouts_team_grid">
						<%= image_tag("t3.jpg", :class => "img-responsive") %>
						<div class="agileits_w3layouts_team_grid_pos">
							<div class="w3ls-social">
								<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
								<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
								<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
					<h4>Thomas</h4>
					<p>CEO / PHP Developer</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="agileits_w3layouts_team_grid">
						<%= image_tag("t4.jpg", :class => "img-responsive") %>
						<div class="agileits_w3layouts_team_grid_pos">
							<div class="w3ls-social">
								<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
								<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
								<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
								<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
					<h4>Rosy </h4>
					<p>PHP Developer</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //team -->
