<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

	<!-- top-header and slider -->
	<div class="w3-slider">
	<!-- main-slider -->
		<ul id="demo1">
			<li>
				<%= image_tag("1n.jpg", :alt => "rss feed") %>
				<!--Slider Description example-->
				<div class="slide-desc">
					<h3>El poder del sol en tu casa</h3>
				</div>
			</li>
			<li>
				<%= image_tag("2.jpg", :alt => "rss feed") %>
				  <div class="slide-desc">
					<h3>Has que el sol trabaje para ti</h3>
				</div>
			</li>
			<li>
				<%= image_tag("3.jpg", :alt => "rss feed") %>
				<div class="slide-desc">
					<h3>Contribuye al medio ambiente</h3>
				</div>
			</li>
			<li>
				<%= image_tag("4.jpg", :alt => "rss feed") %>
				<div class="slide-desc">
					<h3>Has que el sol trabaje para ti </h3>
				</div>
			</li>
		</ul>
	</div>
	<!-- //main-slider -->
	<!-- //top-header and slider -->
	<!-- Specialize-section -->
			<section class="w3-about text-center">
				<div class="container">
					<h2 class="w3ls_head">Wel<span>come</span></h2>
					<p class="para">Lorem Ipsum is simply dummy text <span> type setting industry</span> esse cillum dolore eu
					fugiat nulla pariatur. Excepteur sint occaecat.</p>
					<div class="col-md-4 w3l-abt-grid">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="#" class="hi-icon icon1"><i class="fa fa-cog" aria-hidden="true"></i></a>
						</div>
						<h4>Information Center</h4>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
					</div>
					<div class="col-md-4 w3l-abt-grid">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="#" class="hi-icon icon2"><i class="fa fa-sun-o" aria-hidden="true"></i></a>
						</div>
						<h4>Commercial Solar</h4>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered in some, by injected humour.</p>
					</div>
					<div class="col-md-4 w3l-abt-grid">
						<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
							<a href="#" class="hi-icon icon3"><i class="fa fa-gift" aria-hidden="true"></i></i></a>
						</div>
						<h4>Special Offers</h4>
						<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of Latin literature from 45 BC, making.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</section>
	<!-- //Specialize-section -->
	<!--clients-->
			<div class="w3layouts-clients">
				<div class="container">
					<h3>De donde <span>surge la iniciativa</span></h3>
					<p>Actualmente la energía solar se ha convertido en una fuente de sustento energético muy popular debido
						a la conciencia ambiental que se ha generado en los últimos años,
						a pesar de esto hay una barreras que no dejan que esta medida sea implementada en la ciudad de Medellín,
						una de estas problemáticas es el desconocimiento de la capacidad de los paneles solares;
						ya que no se sabe con certeza cuánta energía será recolectada lo que causa incertidumbre a
						la hora de decidir qué panel solar adquirir o cuánta energía se necesitará suplir mediante
						otro mecanismo alterno a la energía solar.</p>
					<p>Debido a esto surge esta plataforma para ayudar a nuestro usuarios a disminuir esa incertidumbre
					y dar una herramienta confiable a la hora de tomar este tipo de decisiones.</p>
				</div>
			</div>
	<!--//clients-->
		<!--advantage-->
				<div class="what-w3ls">
					<div class="container">
						<h3 class="w3ls_head">¿Qué <span>Hacemos?</span></h3>
						<div class="what-grids">
							<div class="col-md-6 what-grid">
							<div class="list-img">
								<%= image_tag("objetivos.jpg", :class => "img-responsive") %>
								<div class="textbox"></div>
								</div>
							</div>
							<div class="col-md-6 what-grid1">
								<div class="what-top">
									<div class="what-left">
										<i class="glyphicon glyphicon-flash" aria-hidden="true"></i>
									</div>
									<div class="what-right">
										<h4>Datos historicos</h4>
										<p>Proporcionamos datos historicos de la radiación solar en Medellín, para apoyar a nuestros usuarios en la toma
										de decisiones a la hora de adquirir un panel solar.</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="what-top1">
									<div class="what-left">
										<i class="glyphicon glyphicon-stats" aria-hidden="true"></i>
									</div>
									<div class="what-right">
										<h4>Predicción</h4>
										<p>Brindamos un servicio de predicción, para que nuestros usuarios conozcan con anterioridad si los paneles que
											han adquiro pueden abastecer sus hogares, fincas y/o empresas.</p>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="what-top1">
									<div class="what-left">
										<i class="glyphicon glyphicon-blackboard" aria-hidden="true"></i>
									</div>
									<div class="what-right">
										<h4>Investigación</h4>
										<p>Damos acceso a todos los recursos de este proyecto para que los investigadores puedan realizar
											un analisis del comportamiento de la radiación y de las nubes en Medellín.</p>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>

					</div>
				</div>
			<!--advantage-->

	<%=render "partials/cifras"%>
